<!doctype html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
<title>Spring-boot Web Community Board</title>
<!-- meta tags 필요 -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/bootstrap_override.css">
</head>
<body>
	<div th:replace="fragments/nav :: nav"></div>

	<div class="container pt-3">
		<form th:action="@{post/update.process(id=${post.id})}" method="post">
			<div class="form-row">
				<div class="col-auto form-group">
					<label>카테고리</label> <select name="category" class="form-control" th:value="${post.category}">
						<option>일반</option>
						<option>공지</option>
					</select>
				</div>
				<div class="col form-group mb-2">
					<label>제목</label> <input name="title" type="text" class="form-control" th:value="${post.title}">
				</div>
			</div>
			<div class="form-group mb-2">
				<label>내용</label>
				<textarea name="content" class="form-control" rows="12" th:text="${post.content}"></textarea>
			</div>
			<div class="form-row">
				<div class="col form-group">
					<label>작성자</label> <input name="writer" type="text" class="form-control" th:value="${post.writer}">
				</div>
				<div class="col form-group">
					<label>비밀번호</label> <input name="password" type="password" class="form-control" th:value="${post.password}">
				</div>
			</div>
			<div class="form-row justify-content-end">
				<div class="col-auto form-group">
					<button type="submit" class="btn btn-warning">수정</button>
				</div>
				<div class="col-auto form-group">
					<a class="btn btn-danger" th:href="@{view(id=${post.id})}">취소</a>
				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

	<!-- Optional JavaScript -->
	<!-- 먼저 jQuery가 오고 그 다음 Popper.js 그 다음 Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
		crossorigin="anonymous"></script>
</body>
</html>