<!doctype html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <title>Spring-boot Web Community Board</title>
    <!-- meta tags 필요 -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.0/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/date.format.js"></script>
    <script>
		var check = true;
        $(window).on("beforeunload", function() {
                if(check)
                    _detachFiles();
        });

        function _modifyPost() {
            check = false;
            $("form").submit();
        }
    </script>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<div class="container pt-3">
    <form th:action="@{post/update.process(id=${post.id})}" method="post">
        <div class="form-row">
            <div class="col-auto form-group">
                <label>카테고리</label> <select name="category" class="form-control" th:value="${post.category}">
                <option>일반</option>
                <option>공지</option>
            </select>
            </div>
            <div class="col form-group mb-2">
                <label>제목</label> <input name="title" type="text" class="form-control" th:value="${post.title}">
            </div>
        </div>
        <div class="form-group mb-2">
            <label>내용</label>
            <textarea name="content" class="form-control" rows="12" th:text="${post.content}"></textarea>
        </div>
        <div class="form-row">
            <div class="col form-group d-flex align-items-center">
                <input id="file" class="form-control-file" type="file" multiple>
            </div>
            <div class="col-auto form-group">
                <button class="btn btn-success" type="button" onclick="_attachFiles()">추가</button>
            </div>
        </div>
        <div class="form-row">
            <div class="col form-group border" style="height: 80px; overflow-y: scroll;">
                <table id="files" class="table">
                    <!-- 파일 목록 -->
                    <tr th:each="file : ${files}">
                        <td class="p-1">
                            <input type="hidden" name="file_id" th:value="${file.id}">
                            <small th:text="${file.origin} + '.' + ${file.ext}">filename</small>
                        </td>
                        <td class="align-middle p-1">
                            <button type="button" class="close pb-1 pr-2" th:data-id="${file.id}" onclick="_detachFile(this)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                </table>
            </div>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <label>작성자</label> <input name="writer" type="text" class="form-control" th:value="${post.writer}">
            </div>
            <div class="col form-group">
                <label>비밀번호</label> <input name="password" type="password" class="form-control"
                                           th:value="${post.password}">
            </div>
        </div>
        <div class="form-row justify-content-end">
            <div class="col-auto form-group">
                <button class="btn btn-warning" onclick="_modifyPost()">수정</button>
            </div>
            <div class="col-auto form-group">
                <a class="btn btn-danger" th:href="@{view(id=${post.id})}">취소</a>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>