<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<body>
	<div th:fragment="footer" class="container-fluid bg-dark text-center text-white footer">
		<table class="m-auto">
			<tr>
				<th class="pr-4 font-weight-normal">Email.</th>
				<th class="font-weight-normal">wlsdms0122@gmail.com</th>
			</tr>
			<tr>
				<th class="font-weight-normal">Tel.</th>
				<th class="font-weight-normal">010-2349-1478</th>
			</tr>
		</table>
		<p class="mt-3 mb-0">ⓒ 2018. Jeong Jin Eun All rights reserved.</p>
	</div>
</body>
</html>